site_name: IDOWeatherSDK 文档
site_description: 跨平台 IDOWeatherSDK 开发文档
site_author: IDOSDK Team
#repo_url: https://github.com/idoosmart/Weather_MkDocs
repo_name: Weather_MkDocs
edit_uri: ""

theme:
  name: material
  language: zh
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - 使用说明: index.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

plugins:
  - search
  - i18n:
      default_language: zh
      languages:
        - locale: zh
          name: 简体中文
          default: true
        - locale: en
          name: English
      material_alternate: true
      nav_translations:
        zh:
          首页: 首页
        en:
          首页: Home



extra_css:
  - stylesheets/extra.css
